<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">
            {{title}}           
        </a>
        <div class="d-flex border-0">
            @if(isSignedIn){
                <button class="btn me-2">Username</button>
                <button class="btn">Logout</button>                
            }
            @else{
                <button class="btn me-2">Login</button>
                <button class="btn">Register</button>
            }                
        </div>
    </div>
</nav>   